{% extends 'base.html.twig' %}

{% block title %}Revenu index{% endblock %}

{% block body %}
    <div class="chart-container">
{#        {{ form_start(form) }}#}
{#        {{ form_widget(form) }}#}
{#        <button class="btn">{{ button_label|default('Save') }}</button>#}
{#        {{ form_end(form) }}#}
        <a href="{{ path('app_revenu_new', {'id': fiche.id}) }}">New</a>
    </div>

    <div class="chart-detail" style="padding: 0 15px;">
        <table class="table" style="font-size: 0.9rem;">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Categorie</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for r in revenus %}
                <tr>
                    <td>{{ r.titre }}</td>
                    <td>{{ r.date ? r.date|date('d/m/Y') : '' }}</td>
                    <td>{{ r.montant }}</td>
                    <td>{{ r.categorie.name }}</td>
                    <td>
                        <a href="{{ path('app_revenu_edit', {'id': r.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
