{{ form_start(formMensualite) }}
<div class="chart-container">
    <div class="chart-header">
        <h1>Création d'une fiche</h1>
    </div>
    <div class="chart-detail">
        <div class="input">
            <label>Nom : </label>
            {{ form_widget(formMensualite.nom) }}
        </div>

        <div class="input">
            <label>Solde de depart : </label>
            {{ form_widget(formMensualite.soldeDepart) }}
        </div>
    </div>
</div>

<div class="chart-container">
    <div class="chart-header">
        <h2>Dépense Prévu</h2>
    </div>
    <div class="chart-detail">
        {% for depense in categoriePrevu.depense %}
        <div class="input">
            <label>{{ depense.categorie.name }} : </label>
            <input type="number" id="revenu{{ depense.categorie.name }}" name="depense[{{ depense.categorie.id }}]" value="{{ depense.last.montant }}">
        </div>
        {% endfor %}
    </div>
</div>

<div class="chart-container">
    <div class="chart-header">
        <h2>Revenu Prévu</h2>
    </div>
    <div class="chart-detail">
        {% for revenu in categoriePrevu.revenu %}
        <div class="input">
            <label>{{ revenu.categorie.name }} : </label>
            <input type="number" id="revenu{{ revenu.categorie.name }}" name="revenu[{{ revenu.categorie.id }}]" value="{{ revenu.last.montant }}">
        </div>
        {% endfor %}
    </div>
</div>
<button class="btn" style="background: #04aa6d">{{ button_label|default('Save') }}</button>

{{ form_end(formMensualite) }}

