{% extends 'base.html.twig' %}

{% block title %}Prevues index{% endblock %}

{% block body %}
    <h1>Prevues index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prevue in prevues %}
            <tr>
                <td>{{ prevue.id }}</td>
                <td>{{ prevue.titre }}</td>
                <td>{{ prevue.montant }}</td>
                <td>
                    <a href="{{ path('app_prevues_show', {'id': prevue.id}) }}">show</a>
                    <a href="{{ path('app_prevues_edit', {'id': prevue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prevues_new') }}">Create new</a>
{% endblock %}
