{% extends 'base.html.twig' %}

{% block title %}Depense index{% endblock %}

{% block body %}
<div class="chart-container">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>

    <div class="chart-detail" style="padding: 0 15px;">
        <table class="table" style="font-size: 0.9rem;">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Categorie</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for d in depenses %}
                <tr>
                    <td>{{ d.titre }}</td>
                    <td>{{ d.date ? d.date|date('d/m/Y') : '' }}</td>
                    <td>{{ d.montant }}</td>
                    <td>{{ d.categorie.name }}</td>
                    <td>
                        <a href="{{ path('app_depense_edit', {'id': d.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
